.container {
    display: flexbox;
}

.row {
    display: flex;
}

.grid-div {
    padding: 1em;
    border: 1px solid #ddd;
    color: blue;
    margin: 0;
}

.grid-div:hover {
    background-color: black;
}